<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">
 <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/dist/css/style.css" rel="stylesheet"/>
 
  <title></title>
 </head>
 <body>
 <span>T</span><span>a</span><span>t</span<span>y</span><span>a</span><span>n</span><span>a</span><span>&nbsp;</span><span>Y</span><span>o</span><span>l</span><span>k</span><span>i</span><span>n</span><span>a</span><span>&nbsp;</span><span>T</span><span>h</span><span>e</span><span>&nbsp;</span><span>b</span><span>e</span><span>s</span><span>t</span><span>!</span>

 </body>
</html>